
<div id="title">Welcome to the Onion Peeler!</div>
<div id="subtitle">Your home for real fake news</div>
<br>
<hr>
<br>
<br>
<div id="wrapper">
            <div id="articles">
    {{#each articles}}

        

            <p data-id={{this._id}}>{{this.title}}</p>
            <a href={{this.link}} target="_blank">{{this.link}}</a>
            <br>
            <div id="btnhldr">
                <button type="button" class="notebtn" data-id={{this._id}}>View/Add Note</button>
            
            </div> 
            <hr>
    {{/each}}
            </div>
            <div id="notes">
            </div>
</div>